:root {
  font-family: "Roboto", sans-serif;

  --btn-text: #ffffff;
  --btn-bg: #4e46e5;
  --btn-hover: #35308c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
}
